[database]
user = "pickeat_app"
dbname = "pickeat"
host = "/var/run/postgresql"
port = 5432

[redis]
host = "{{ redis.host }}"
port = {{ redis.port }}
password = "{{ redis.password }}"

[sessions]
cookie_secret = "{{ session_cookie_secret }}"

[email]
api_key = "{{ smtp2go_api_key }}"
