{% extends "base.html" %}

{% block title %}Ajouter une recette - {{ super() }}{% endblock %}

{% macro field(name, type, label, error, input, extra_attrs = "") %}
<div>
    <label class="floating-label">
        <span>{{ label }}</span>
        <input name="{{ name }}" type="{{ type }}" placeholder="{{ label }}" class="input input-md"
            oninput="closest('div').querySelector('.text-error').remove()" value="{{ input }}" {{ extra_attrs }} />
    </label>
    {% if let Some(err) = error %}
    <p class="text-error text-sm">{{ err }}</p>
    {% endif %}
</div>
{% endmacro %}

{% block content -%}
<form method="post" autocomplete="off" class="flex flex-col mx-auto max-w-md space-y-2">
    {{ field("name", "text", "Nom de la recette", errors.name, input.name) }}
    {{ field("prep_time", "number", "Temps de préparation (en minutes)", errors.prep_time, input.prep_time, "min=0")
    }}
    {{ field("cook_time", "number", "Temps de cuisson (en minutes)", errors.cook_time, input.cook_time, "") }}
    <input type="submit" value="Submit" class="btn" />
</form>
{%- endblock %}
