DB_SUPERUSER_PASSWORD="postgres"
DB_PICKEAT_PASSWORD="pickeat"
DB_PICKEAT_APP_PASSWORD="app"
DATABASE_URL="postgres://pickeat:${DB_PICKEAT_PASSWORD}@localhost:5432/pickeat"
IMAGES_STORAGE_ROOT="./images"
IMAGES_URL_PREFIX="/images/"
