$primary: #BF9C53;
$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;
$navbar-tab-active-color: $primary;
$navbar-dropdown-item-active-color: $primary;
$navbar-tab-active-border-bottom-color: $primary;
$navbar-tab-hover-border-bottom-color: $primary;
$navbar-item-hover-color: $primary;
$button-focus-border-color: $primary;
$input-focus-border-color: $primary;

$dimensions: 16 24 32 48 64 96 128 256 512;
