@tailwind base;
@tailwind components;
@tailwind utilities;

.label-text {
    @apply font-bold;
}

.checkbox + .label-text {
    @apply font-normal;
}

.btn {
    @apply normal-case;
    font-weight: normal;
}

.table * {
    @apply normal-case;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.input {
    @apply input-accent;
}

.input:focus {
    outline-offset: 0;
}

.textarea {
    @apply textarea-accent;
}

.multiselect {
    @apply !bg-base-100;
    @apply !text-base-content;
    @apply !border-accent;
}

.multiselect-dropdown {
    @apply !max-h-[40vh];
    @apply !bg-base-100;
    @apply !text-base-content;
}

.multiselect-tags-search,
.multiselect-search {
    outline: none;
    @apply !bg-base-100;
    @apply !text-base-content;
}

.multiselect-tag {
    @apply !bg-primary;
    @apply !text-primary-content;
}

.multiselect-option.is-selected {
    @apply !bg-primary;
    @apply !text-primary-content;
}

@font-face {
    font-family: 'Rounded_Elegance';
    src:
        local('Rounded_Elegance'),
        url(./Rounded_Elegance.ttf) format('truetype');
    font-display: swap;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
