@import '@vueform/multiselect/themes/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply normal-case;
  font-weight: normal;
}

.table * {
    @apply normal-case;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input {
    @apply input-accent;
}

.textarea {
    @apply textarea-accent;
}

.multiselect {
    @apply !bg-base-100;
    @apply !text-base-content;
    @apply border-accent !important;
}

.multiselect * {
    @apply !bg-base-100;
    @apply !text-base-content;
}

.multiselect-dropdown {
    @apply !max-h-[40vh];
}

