<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{% block title %}Pickeat{% endblock %}</title>
    <meta charset="utf-8">
    <meta
        name="htmx-config"
        content='{
            "responseHandling":[
                {"code":"204", "swap": false},
                {"code":"[23]..", "swap": true},
                {"code":"422", "swap": true},
                {"code":"[45]..", "swap": false, "error":true},
                {"code":"...", "swap": true}
            ]
        }'
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.js" integrity="sha384-Q+Dky3iHVJOr6wUjQ4ulh6uQ76an/t+ak1+PjMVaxRjbZamFLAG+u9InkfjbsEQf" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="content" class="m-4">
{% block content %}{% endblock %}
    </div>
    <div id="toast" class='toast toast-top toast-end'>
    </div>
    <script src="assets/app.js"></script>
  </body>
</html>
