limit_req_zone $binary_remote_addr zone=mylimit:10m rate=10r/s;

server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;
    ssl_certificate {{ ssl_certif }};
    ssl_certificate_key {{ ssl_certif_key }};
    server_name {{ pickeat_site_url }};

    limit_req zone=mylimit burst=20 nodelay;

    location / {
        location ~*  \.(jpg|jpeg|png|gif|ico|css|js|ttf|mp4|svg)$ {
            expires 365d;
        }
        root /var/www/{{ pickeat_site_url }};
        try_files $uri $uri/ /index.html;
        gzip_static on;
        brotli_static on;
    }

    location /api {
        rewrite ^/api(.*)$ $1 break;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://localhost:8080;
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name pick-eat.fr;
    return 301 https://$host$request_uri;
}
