user-agent: *
disallow: /new-recipe
disallow: /login
disallow: /register
disallow: /account
disallow: /account_validation
disallow: /forgotten_password
disallow: /password_reset

sitemap: https://{{ pickeat_site_url }}/sitemap.xml
