[database]
user = pickeat_app
dbname = pickeat
host = /var/run/postgresql
port = 5432

[app]
sitemap_output_path=/var/www/{{ pickeat_site_url }}/sitemap.xml
website_url=https://{{ pickeat_site_url }}
